.App {
  text-align: center;

  background-color: white;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.main__heading {
  color: #61dafb;
  font-family: monospace;
  font-size: 3rem;
  text-shadow: white 0.8rem 0.8rem 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.main {
  color: #61dafb;
}

.input__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: 500;
}

.input {
  position: relative;
  display: grid;
  flex-direction: row;
  gap: 2rem;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  background-color: #282c34;
  padding: 1rem;
  min-width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem #61dafb, inset 0 0 0.8rem #61dafb;
}

.input > input {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem #61dafb, inset 0 0 0.3rem #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tellme {
  background-color: transparent;

  box-shadow: 0 0 0.6rem #61dafb, inset 0 0 0.3rem #61dafb;
  font-family: monospace;
  padding: 0.3rem;
  font-size: 1rem;

  transition: all 150ms ease-in-out;
}

.tellme:hover {
  color: #61dafb;
  background-color: black;
  box-shadow: 0 0 0.6rem black, inset 0 0 0.3rem #61dafb;
}

.output {
  display: grid;
  place-content: center;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.stock__img {
  place-self: center;
}

.image {
  height: 70%;
  width: 80%;
}

.output__message {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  background-color: black;

  box-shadow: 0 0 2rem #61dafb, inset 0 0 3rem #61dafb;
  border-radius: 3rem;

  /* text-shadow: #61dafb 0.3rem 0.3rem 0.2rem; */
  font-size: 1.1rem;
}
